<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJs App</title>
</head>
<body>
    <h1>REST API built in NodeJS</h1>
    <form action="/api/v1/getJSONData">
        <input type="submit" value="GET REQUEST" />
    </form>
    <form action="/api/v1/addData" method="POST">
        <input type="number" name="sepalLength" placeholder="Enter the sepalLength"/>
        
        <input type="number" name="sepalWidth" placeholder="Enter the sepalWidth"/>
        
        <input type="submit" value="POST REQUEST" />
    </form>        
    
</body>
</html>